@font-face {
    font-family: star;
    src: url(starfont.ttf);
}
@import '../assets.css';
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital@1&family=Inconsolata:wght@300;600&family=Roboto:wght@300&display=swap');

.body {
    font-family: 'samsung';
}

.jobdesc {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    z-index: 5;
    position: relative;
    text-align: center;
    font-family: samsung, monospace;
    font-weight: bolder;
    font-size: 12px;
}

p {
    margin-top: -0%;
    margin-bottom: 0%;
}



.icons:hover {
cursor: pointer;
}
